body{
    background-color:#8BA1BB;
    font-family: Arial;
}
p.t3i {
    background-color: black;
    color: white;
    display: inline;
    margin-top: 0px;
    padding: 8px 18px;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 16px;

}
div.contenu {
    background-color: white;
    color: black;
    margin: 0px 10% 80px 10%;
    padding: 30px;
    min-width: 350px;

}
p.discription {
    text-align: center;
    max-width: 400px ;
    display: inline-block;
    font-size: 14px;
}
.centre{
    text-align: center;
    width: 100%;
}
div.t3i{
    margin-bottom: -9px;
    margin-top: 70px;

}
p.khat{
    font-size: 10px;
    margin-top: -10px;
}
div.info{
    position: relative;
}
table.info{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6c829dC0; 
    height: 80px;
}
table.info td {
    text-align: center;
    font-size: 15px;
    vertical-align: top;
  
}
table.info th {
   
    vertical-align: bottom;
    padding: 8px;
}