body{
    background-color:#8BA1BB;
    font-family: Arial;
}
p.t3i {
    background-color: black;
    color: white;
    display: inline;
    margin-top: 0px;
    padding: 8px 18px;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 16px;

}
div.contenu {
    background-color: white;
    color: black;
    margin: 0px 8px 80px 8px;
    padding: 20px;
    min-width: 350px 8px 20px 8px;
    box-shadow: 0px 0px 10px 3px black ;

}
p.discription {
    text-align: center;
    max-width: 400px ;
    display: inline-block;
    font-size: 14px;
}
.centre{
    text-align: center;
    width: 100%;
}
div.t3i{
    margin-bottom: -9px;
    margin-top: 70px;

}
p.khat{
    font-size: 10px;
    margin-top: -10px;
}
div.info{
    position: relative;
    
}
table.info{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6c829dC0; 
    height: 80px;
}
table.info td {
    text-align: center;
    font-size: 15px;
    vertical-align: top;
  
}
table.info th {
   
    vertical-align: bottom;
    padding: 8px;
}
img.info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
}
div.colonne1{
   
    display: inline-block;
    margin-right: 10%;
    
}
div.colonne2{
  
   float: right;

}
div.colonne{
     width: 45%;
}
div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
    border-bottom:  4px solid #6c829d; 
    padding-bottom: 5px;
}
div.Ingrediant p{
    border: 1px solid lightgray;
    font-size: 14px;
    padding: 9px 0;
    margin-top:4px;
    margin-bottom: 0px;

}
table.Preparation p.numero{
    background-color: #6c829d;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0px;
    
}
table.Preparation td {
    vertical-align: top;
}
table.Preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.Preparation tr {
   height:40px ;
}
*{
    overflow: auto;
}

@media only screen and (min-width:768px){
    div.contenu {
        min-width:350px;
        margin: 0px 10% 80px 10%;
        padding: 30px;
        max-width: 650px;
    }
    
}
@media only screen and (min-width:900px){
    div.contenu {
        min-width:350px;
        margin-left: auto;
        margin-right: auto;
        
        max-width: 650px;
    }
    
}
